{{> partials/header }}

{{! hero }}
<section class="bg-primary-200 pt-44">
  <div class="container grid items-center gap-16 lg:grid-cols-2">

    <div class="text-center lg:text-left" data-animate="fade-up">
      <h1 class="mb-10 fs-1">Investment Platform for Beginners</h1>
      <div
        class="mb-10 flex max-w-sm flex-col items-center mx-auto space-y-2 lg:mx-0 lg:flex-row lg:space-x-4 lg:space-y-0">
        <img src="./assets/images/investors.webp" class="h-10" alt="" />
        <p class="text-lg">Join with <span class="font-bold">56000+ Investors</span> and grow your business online</p>
      </div>

      <div class="inline-flex flex-col items-center space-y-4 sm:flex-row sm:space-x-8 sm:space-y-0">
        <a href="#" class="button-primary">
          <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.4347 12.0633C13.9341 11.8492 13.5076 11.4923 13.2087 11.0373C12.9097 10.5823 12.7514 10.0492 12.7535 9.50476C12.76 9.01876 12.8902 8.54241 13.1317 8.12064C13.3733 7.69888 13.7183 7.34559 14.1342 7.0941C14.2283 7.03595 14.3097 6.95932 14.3733 6.86884C14.437 6.77836 14.4816 6.67591 14.5045 6.56769C14.5275 6.45947 14.5282 6.34773 14.5067 6.23921C14.4852 6.1307 14.442 6.02766 14.3795 5.93634C14.0056 5.39262 13.5182 4.93651 12.9509 4.5995C12.3836 4.26249 11.7499 4.05261 11.0936 3.98434C11.7044 3.01488 11.9816 1.87231 11.883 0.730692C11.8637 0.523394 11.7649 0.331616 11.6073 0.1956C11.4497 0.0595846 11.2455 -0.010095 11.0376 0.00118339C9.63273 0.126399 8.33037 0.789025 7.40205 1.85092C6.81359 2.5328 6.39833 3.34659 6.19153 4.22323C5.76428 4.07864 5.31697 4.00206 4.86595 3.99631C4.03096 4.01997 3.21626 4.25898 2.50082 4.69016C1.78539 5.12133 1.19349 5.73005 0.782533 6.45729C-0.761986 9.13881 0.182865 13.1571 1.85601 15.5758C2.52719 16.545 3.53437 18 5.05371 18C5.08367 18 5.11404 18 5.1444 17.9984C5.65347 17.9695 6.15184 17.8405 6.61101 17.6188C6.97777 17.4329 7.38241 17.334 7.79357 17.3296C8.18023 17.3343 8.56047 17.4289 8.90422 17.606C9.40649 17.8437 9.95386 17.9709 10.5095 17.9792C12.0747 17.9496 12.9992 16.5993 13.6744 15.6125C14.2071 14.8286 14.624 13.9721 14.9121 13.0692C14.9735 12.8722 14.9585 12.6593 14.87 12.4729C14.7815 12.2865 14.6261 12.1403 14.4347 12.0633V12.0633ZM8.64094 2.91923C9.07068 2.43854 9.60915 2.06759 10.2114 1.83736C10.0797 2.48557 9.78811 3.09062 9.36326 3.59761C9.07488 3.9436 8.72401 4.23228 8.32893 4.4486L8.32653 4.44942C8.30336 4.45901 8.28019 4.4678 8.25699 4.47738C8.10437 4.53731 7.9158 4.61162 7.77039 4.65956C7.91082 4.0159 8.21009 3.41762 8.64094 2.91923V2.91923ZM12.324 14.6889C11.6664 15.6493 11.1491 16.3309 10.4795 16.3429C10.1558 16.3418 9.83757 16.2597 9.55383 16.1039C9.00533 15.8367 8.40372 15.6963 7.79358 15.6932C7.16224 15.6964 6.53947 15.8397 5.9702 16.1127C5.69343 16.254 5.39148 16.3392 5.08168 16.3636H5.05732C4.39212 16.3636 3.6766 15.3304 3.20158 14.6441C2.01303 12.9262 0.916767 9.50316 2.2008 7.27388C2.47006 6.79147 2.85945 6.38686 3.33118 6.09931C3.8029 5.81176 4.34095 5.65103 4.89311 5.63273L4.92068 5.63191C5.38647 5.67149 5.84131 5.79465 6.26345 5.99547C6.37092 6.03781 6.47678 6.08016 6.58186 6.11931C6.60862 6.1305 6.63619 6.14089 6.66415 6.14967C6.95532 6.26679 7.26461 6.33248 7.57824 6.34384C8.02231 6.30855 8.4561 6.19181 8.85791 5.99946C9.42431 5.72457 10.0469 5.58532 10.6765 5.59276C11.3499 5.61911 11.9963 5.86428 12.5178 6.29111C12.0722 6.70174 11.7173 7.20106 11.4761 7.75699C11.2349 8.31293 11.1126 8.91317 11.1171 9.51917V9.51999C11.1125 10.2536 11.2941 10.9764 11.6448 11.6208C11.9956 12.2651 12.5041 12.8099 13.1227 13.2043C12.9073 13.7248 12.6397 14.2222 12.324 14.6889V14.6889Z"
              fill="currentColor"></path>
          </svg>
          <span>App store</span>
        </a>
        <a href="#" class="button-primary">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.2873 7.89669C15.0299 7.75759 12.8229 6.47688 11.9947 5.99483L11.9923 5.99319L1.96105 0.201309C1.79015 0.0969776 1.59852 0.0312499 1.39957 0.00872446C1.20062 -0.013801 0.999145 0.00741986 0.809251 0.0709024C0.787821 0.0785975 0.767685 0.0863416 0.746853 0.0958786C0.698483 0.111645 0.651203 0.130575 0.605316 0.152544C0.413518 0.267195 0.256166 0.43143 0.149818 0.627965C0.0434703 0.824501 -0.00794069 1.04607 0.000994438 1.26936V16.8112C-0.00509304 17.0193 0.0441708 17.2252 0.143749 17.4079C0.243327 17.5906 0.389646 17.7437 0.567745 17.8513C0.608822 17.8714 0.651143 17.8888 0.694449 17.9035C0.718129 17.9144 0.740705 17.9239 0.765139 17.9325C0.882364 17.9751 1.00582 17.9979 1.1305 18C1.36992 17.9974 1.60448 17.9321 1.81077 17.8105C2.12892 17.6259 11.9923 11.9307 11.9923 11.9307L15.2833 10.0304C15.4868 9.92846 15.6585 9.77285 15.78 9.58037C15.9014 9.3879 15.968 9.1659 15.9724 8.93835C15.9624 8.71917 15.8935 8.50674 15.7729 8.32343C15.6523 8.14011 15.4846 7.9927 15.2873 7.89669ZM1.6381 15.4166V2.53377L8.13752 8.96739L1.6381 15.4166ZM5.74561 13.647L9.301 10.1191L10.242 11.0505C9.20678 11.6483 7.45781 12.6583 5.74561 13.647V13.647ZM9.2996 7.81427L5.69971 4.25081L10.2457 6.87556L9.2996 7.81427ZM11.7117 10.2019L10.4631 8.966L11.7136 7.72512C12.3032 8.06753 13.2221 8.6005 13.8549 8.96475L11.7117 10.2019Z"
              fill="currentColor"></path>
          </svg>
          <span>Play store</span>
        </a>
      </div>
    </div>

    <div class="h-[500px] lg:h-[700px]" data-animate="fade-right">
      <img src="./assets/images/analysis.webp" class="h-full w-full object-contain lg:object-right" alt="" />
    </div>

  </div>
</section>

{{! intro }}
<section class="bg-primary-800 py-32">
  <div class="container grid items-center gap-16 lg:grid-cols-2">

    <div class="h-[400px] lg:h-[500px]" data-animate="fade-left">
      <img src="./assets/images/dashboard.webp" class="h-full w-full rounded-2xl object-cover" alt="" />
    </div>

    <div class="max-w-md text-white" data-animate="fade-up">
      <h2 class="mb-4 fs-2 text-white">App for
        Short-term Investment Options</h2>
      <p class="mb-10">
        The Big Oxmox advised her not to do so, because there were thousands of
        bad Commas, devious Semikoli.
      </p>
      <a href="#" class="button-secondary">See features</a>
    </div>

  </div>
</section>

{{! features }}
<section id="features" class="py-32">
  <div class="container grid items-center gap-16 lg:grid-cols-3">

    <div data-animate="fade-up">
      <div class="lg:border-b lg:border-primary-200 lg:pb-10">
        <p class="mb-4 text-sm font-bold tracking-[2px]">PAYMENT AUTOMATION</p>
        <h2 class="fs-2">More Revenue with Innovate</h2>
      </div>
      <div class="hidden pt-10 lg:block">
        <p class="mb-4 text-lg">
          “The Big Oxmox advised her not to do so, because there were thousands”
        </p>
        <div class="flex items-center space-x-4 text-primary-900">
          <img src="./assets/images/smith-zack.png" class="h-14" alt="" />
          <div class="flex flex-col space-y-1 text-sm">
            <span>Smith Zack</span>
            <span>CEO EasyWP</span>
          </div>
        </div>
      </div>
    </div>

    <div class="grid items-center gap-10 md:grid-cols-2 lg:col-span-2">

      <div class="rounded-2xl bg-white p-10 shadow-lg">
        <img src="./assets/images/stock-market-graph.svg" alt="" class="mb-4" />
        <h3 class="mb-4 text-xl">Stock Market Graph</h3>
        <p class="">The Big Oxmox advised her not to do so, because there were
          thousands</p>
      </div>

      <div class="rounded-2xl bg-white p-10 shadow-lg md:mt-10">
        <img src="./assets/images/revenue-chart.svg" alt="" class="mb-4" />
        <h3 class="mb-4 text-xl">Revenue Chart</h3>
        <p class="">The Big Oxmox advised her not to do so, because there were
          thousands</p>
      </div>

      <div class="rounded-2xl bg-white p-10 shadow-lg">
        <img src="./assets/images/important-tips.svg" alt="" class="mb-4" />
        <h3 class="mb-4 text-xl">Important Tips</h3>
        <p class="">The Big Oxmox advised her not to do so, because there were
          thousands</p>
      </div>

      <div class="rounded-2xl bg-white p-10 shadow-lg md:mt-10">
        <img src="./assets/images/auto-suggestion.svg" alt="" class="mb-4" />
        <h3 class="mb-4 text-xl">Auto Suggestion</h3>
        <p class="">The Big Oxmox advised her not to do so, because there were
          thousands</p>
      </div>

    </div>
  </div>
</section>

{{! reviews }}
<section id="reviews" class="relative bg-primary-800 py-32">
  <div class="container">

    <div class="mb-16 flex items-center justify-between text-white">
      <h3 class="fs-2 text-white">Customer Reviews</h3>
      <div class="absolute bottom-10 left-1/2 flex -translate-x-1/2 items-center space-x-4 md:translate-x-0 md:static">
        <button
          class="js-reviews-slider-prev disabled:opacity-50 flex h-10 w-10 items-center justify-center rounded-full border-2 border-white transition-colors hover:bg-white hover:text-primary-900"
          aria-label="previous slide" aria-controls="reviews-slider">
          <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4.49906 6.43945L8.49953 10.4385L6.5 12.4395L0.5 6.43945L6.5 0.439453L8.49953 2.4404L4.49906 6.43945Z"
              fill="currentColor"></path>
          </svg>
        </button>
        <button
          class="js-reviews-slider-next disabled:opacity-50 flex h-10 w-10 items-center justify-center rounded-full border-2 border-white transition-colors hover:bg-white hover:text-primary-900"
          aria-label="next slide" aria-controls="reviews-slider">
          <svg width="9" height="13" viewBox="0 0 9 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M5.10104 6.61626L5.27791 6.43945L5.10104 6.26264L1.27735 2.4403L2.92342 0.793069L8.5698 6.43945L2.92342 12.0858L1.27735 10.4386L5.10104 6.61626Z"
              fill="currentColor" stroke="currentColor" stroke-width="0.5"></path>
          </svg>
        </button>
      </div>
    </div>

    <div class="swiper js-reviews-slider" id="reviews-slider">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="rounded-2xl bg-white p-10 shadow-lg">
            <img src="./assets/images/stars.svg" alt="" class="mb-6" />
            <p class="mb-4 text-lg">“The Big Oxmox advised her not to do so,
              because there were thousands”</p>
            <div class="flex items-center space-x-4 text-primary-900">
              <img src="./assets/images/smith-zack.png" class="h-14" alt="" />
              <div class="flex flex-col space-y-1 text-sm">
                <span>Smith Zack</span>
                <span>Android user</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rounded-2xl bg-white p-10 shadow-lg">
            <img src="./assets/images/stars.svg" alt="" class="mb-6" />
            <p class="mb-4 text-lg">“The Big Oxmox advised her not to do so,
              because there were thousands”</p>
            <div class="flex items-center space-x-4 text-primary-900">
              <img src="./assets/images/smith-zack.png" class="h-14" alt="" />
              <div class="flex flex-col space-y-1 text-sm">
                <span>Smith Zack</span>
                <span>Android user</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rounded-2xl bg-white p-10 shadow-lg">
            <img src="./assets/images/stars.svg" alt="" class="mb-6" />
            <p class="mb-4 text-lg">“The Big Oxmox advised her not to do so,
              because there were thousands”</p>
            <div class="flex items-center space-x-4 text-primary-900">
              <img src="./assets/images/smith-zack.png" class="h-14" alt="" />
              <div class="flex flex-col space-y-1 text-sm">
                <span>Smith Zack</span>
                <span>Android user</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rounded-2xl bg-white p-10 shadow-lg">
            <img src="./assets/images/stars.svg" alt="" class="mb-6" />
            <p class="mb-4 text-lg">“The Big Oxmox advised her not to do so,
              because there were thousands”</p>
            <div class="flex items-center space-x-4 text-primary-900">
              <img src="./assets/images/smith-zack.png" class="h-14" alt="" />
              <div class="flex flex-col space-y-1 text-sm">
                <span>Smith Zack</span>
                <span>Android user</span>
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="rounded-2xl bg-white p-10 shadow-lg">
            <img src="./assets/images/stars.svg" alt="" class="mb-6" />
            <p class="mb-4 text-lg">“The Big Oxmox advised her not to do so,
              because there were thousands”</p>
            <div class="flex items-center space-x-4 text-primary-900">
              <img src="./assets/images/smith-zack.png" class="h-14" alt="" />
              <div class="flex flex-col space-y-1 text-sm">
                <span>Smith Zack</span>
                <span>Android user</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

{{! partners }}
<section class="py-32">
  <div class="container grid xl:max-w-screen-xl items-center gap-16 lg:grid-cols-2">

    <div data-animate="fade-up">
      <p class="mb-2 text-sm font-bold tracking-[2px]">OUR PARTNERS</p>
      <h2 class="fs-2 mb-4">Our Trusted Partners</h2>
      <p class="mb-10 max-w-sm">The Big Oxmox advised her not to do so, because
        there were thousands
      </p>
      <a href="#" class="button-primary">Sign up</a>
    </div>

    <div class="grid gap-6 sm:grid-cols-3 lg:order-first" data-animate="fade-left">
      <div class="flex items-center justify-center rounded-xl bg-primary-200 p-6 sm:col-span-1">
        <img src="./assets/images/partners-1.svg" alt="" class="" />
      </div>
      <div class="flex items-center justify-center rounded-xl bg-primary-200 p-6 sm:col-span-2">
        <img src="./assets/images/partners-2.svg" alt="" class="" />
      </div>
      <div class="flex items-center justify-center rounded-xl bg-primary-200 p-6 sm:col-span-2">
        <img src="./assets/images/partners-3.svg" alt="" class="" />
      </div>
      <div class="flex items-center justify-center rounded-xl bg-primary-200 p-6 sm:col-span-1">
        <img src="./assets/images/partners-4.svg" alt="" class="" />
      </div>
      <div class="flex items-center justify-center rounded-xl bg-primary-200 p-6 sm:col-span-1">
        <img src="./assets/images/partners-5.svg" alt="" class="" />
      </div>
      <div class="flex items-center justify-center rounded-xl bg-primary-200 p-6 sm:col-span-2">
        <img src="./assets/images/partners-6.svg" alt="" class="" />
      </div>
    </div>

  </div>
</section>

{{! pricing }}
<section id="pricing" class="bg-primary-200 py-32">
  <div class="container">

    <div class="mb-16 text-center">
      <h2 class="fs-2 mb-2">Plans and Pricing</h2>
      <p class="text-lg">The most competitively price in the market</p>
    </div>

    <div class="grid items-end gap-16 lg:grid-cols-3">

      <div
        class="flex relative left-1/2 -translate-x-1/2 lg:static lg:translate-x-0 max-w-md flex-col rounded-2xl bg-white p-10 shadow-lg">
        <span class="mb-2">Starter</span>
        <div class="mb-10 flex items-end justify-between border-b border-primary-500/20 pb-6 text-primary-900">
          <span class="text-3xl">$0.00</span>
          <span class="rounded-full bg-primary-500/20 px-3 py-1 text-sm">Always
            free</span>
        </div>
        <div class="mb-10 space-y-6">
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited projects</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited activity log</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited file storage</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">List view projects</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited projects</span>
          </div>
        </div>
        <a href="#" class="button-primary mx-auto">Get started</a>
      </div>

      <div
        class="max-w-md relative left-1/2 -translate-x-1/2 lg:static lg:translate-x-0  rounded-2xl border-[3px] border-primary-900 bg-primary-900">
        <span class="block p-3 text-center text-white">Recommended</span>
        <div class="flex flex-col rounded-2xl bg-white p-10 shadow-lg">
          <span class="mb-2">Agency</span>
          <div class="mb-10 flex items-end justify-between border-b border-primary-500/20 pb-6 text-primary-900">
            <span class="text-3xl">$59</span>
            <span class="rounded-full bg-primary-500/20 px-3 py-1 text-sm">Always free</span>
          </div>
          <div class="mb-10 space-y-6">
            <div class="flex items-center">
              <img src="./assets/images/check-mark.svg" alt="" />
              <span class="ml-4">Unlimited projects</span>
            </div>
            <div class="flex items-center">
              <img src="./assets/images/check-mark.svg" alt="" />
              <span class="ml-4">Unlimited activity log</span>
            </div>
            <div class="flex items-center">
              <img src="./assets/images/check-mark.svg" alt="" />
              <span class="ml-4">Unlimited file storage</span>
            </div>
            <div class="flex items-center">
              <img src="./assets/images/check-mark.svg" alt="" />
              <span class="ml-4">List view projects</span>
            </div>
            <div class="flex items-center">
              <img src="./assets/images/check-mark.svg" alt="" />
              <span class="ml-4">Unlimited projects</span>
            </div>
          </div>
          <a href="#" class="button-primary mx-auto">Get started</a>
        </div>
      </div>

      <div
        class="flex relative left-1/2 -translate-x-1/2 lg:static lg:translate-x-0  max-w-md flex-col rounded-2xl bg-white p-10 shadow-lg">
        <span class="mb-2">Enterprise</span>
        <div class="mb-10 flex items-end justify-between border-b border-primary-500/20 pb-6 text-primary-900">
          <span class="text-3xl">$199</span>
          <span class="rounded-full bg-primary-500/20 px-3 py-1 text-sm">Always
            free</span>
        </div>
        <div class="mb-10 space-y-6">
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited projects</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited activity log</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited file storage</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">List view projects</span>
          </div>
          <div class="flex items-center">
            <img src="./assets/images/check-mark.svg" alt="" />
            <span class="ml-4">Unlimited projects</span>
          </div>
        </div>
        <a href="#" class="button-primary mx-auto">Get started</a>
      </div>

    </div>

  </div>
</section>

{{! faqs }}
<section id="faqs" class="py-32">
  <div class="container xl:max-w-screen-xl">

    <div class="mb-16 text-center">
      <h2 class="fs-2 mb-2">Frequently asked
        questions</h2>
      <p class="text-lg">We have put together some commonly asked questions</p>
    </div>

    <div class="grid lg:gap-16 gap-y-10 lg:grid-cols-2">

      <div class="space-y-10">

        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>
        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>
        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>
        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>

      </div>

      <div class="space-y-10">

        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>
        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>
        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>

        <div class="overflow-hidden rounded-lg border">
          <button
            class="js-faq-question flex w-full items-center justify-between p-6 text-left text-lg text-primary-900"
            aria-expanded="false">
            <span>Lorem ipsum dolor sit amet consectetur.</span>
            <img src="./assets/images/angle-down.svg" alt="" class="pl-10" />
          </button>
          <div class="js-faq-answer max-h-0 overflow-hidden transition-[max-height] duration-300">
            <p class="p-6 pt-0">
              The Big Oxmox advised her not to do so, because there were
              thousands
            </p>
          </div>
        </div>

      </div>

    </div>

  </div>
</section>

{{! cta }}
<section class="bg-primary-800 pt-32 text-white">
  <div class="container grid items-center gap-16 lg:grid-cols-2">

    <div class="text-center lg:text-left" data-animate="fade-up">
      <h1 class="fs-1 mb-10 text-white">Download #1
        Investment App</h1>
      <p class="mb-10 text-lg">Join with
        <span class="font-bold">56000+ Investors</span>
        and grow your business online
      </p>

      <div class="inline-flex flex-col items-center space-y-4 sm:flex-row sm:space-x-8 sm:space-y-0">
        <a href="#" class="button-secondary">
          <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M14.4347 12.0633C13.9341 11.8492 13.5076 11.4923 13.2087 11.0373C12.9097 10.5823 12.7514 10.0492 12.7535 9.50476C12.76 9.01876 12.8902 8.54241 13.1317 8.12064C13.3733 7.69888 13.7183 7.34559 14.1342 7.0941C14.2283 7.03595 14.3097 6.95932 14.3733 6.86884C14.437 6.77836 14.4816 6.67591 14.5045 6.56769C14.5275 6.45947 14.5282 6.34773 14.5067 6.23921C14.4852 6.1307 14.442 6.02766 14.3795 5.93634C14.0056 5.39262 13.5182 4.93651 12.9509 4.5995C12.3836 4.26249 11.7499 4.05261 11.0936 3.98434C11.7044 3.01488 11.9816 1.87231 11.883 0.730692C11.8637 0.523394 11.7649 0.331616 11.6073 0.1956C11.4497 0.0595846 11.2455 -0.010095 11.0376 0.00118339C9.63273 0.126399 8.33037 0.789025 7.40205 1.85092C6.81359 2.5328 6.39833 3.34659 6.19153 4.22323C5.76428 4.07864 5.31697 4.00206 4.86595 3.99631C4.03096 4.01997 3.21626 4.25898 2.50082 4.69016C1.78539 5.12133 1.19349 5.73005 0.782533 6.45729C-0.761986 9.13881 0.182865 13.1571 1.85601 15.5758C2.52719 16.545 3.53437 18 5.05371 18C5.08367 18 5.11404 18 5.1444 17.9984C5.65347 17.9695 6.15184 17.8405 6.61101 17.6188C6.97777 17.4329 7.38241 17.334 7.79357 17.3296C8.18023 17.3343 8.56047 17.4289 8.90422 17.606C9.40649 17.8437 9.95386 17.9709 10.5095 17.9792C12.0747 17.9496 12.9992 16.5993 13.6744 15.6125C14.2071 14.8286 14.624 13.9721 14.9121 13.0692C14.9735 12.8722 14.9585 12.6593 14.87 12.4729C14.7815 12.2865 14.6261 12.1403 14.4347 12.0633V12.0633ZM8.64094 2.91923C9.07068 2.43854 9.60915 2.06759 10.2114 1.83736C10.0797 2.48557 9.78811 3.09062 9.36326 3.59761C9.07488 3.9436 8.72401 4.23228 8.32893 4.4486L8.32653 4.44942C8.30336 4.45901 8.28019 4.4678 8.25699 4.47738C8.10437 4.53731 7.9158 4.61162 7.77039 4.65956C7.91082 4.0159 8.21009 3.41762 8.64094 2.91923V2.91923ZM12.324 14.6889C11.6664 15.6493 11.1491 16.3309 10.4795 16.3429C10.1558 16.3418 9.83757 16.2597 9.55383 16.1039C9.00533 15.8367 8.40372 15.6963 7.79358 15.6932C7.16224 15.6964 6.53947 15.8397 5.9702 16.1127C5.69343 16.254 5.39148 16.3392 5.08168 16.3636H5.05732C4.39212 16.3636 3.6766 15.3304 3.20158 14.6441C2.01303 12.9262 0.916767 9.50316 2.2008 7.27388C2.47006 6.79147 2.85945 6.38686 3.33118 6.09931C3.8029 5.81176 4.34095 5.65103 4.89311 5.63273L4.92068 5.63191C5.38647 5.67149 5.84131 5.79465 6.26345 5.99547C6.37092 6.03781 6.47678 6.08016 6.58186 6.11931C6.60862 6.1305 6.63619 6.14089 6.66415 6.14967C6.95532 6.26679 7.26461 6.33248 7.57824 6.34384C8.02231 6.30855 8.4561 6.19181 8.85791 5.99946C9.42431 5.72457 10.0469 5.58532 10.6765 5.59276C11.3499 5.61911 11.9963 5.86428 12.5178 6.29111C12.0722 6.70174 11.7173 7.20106 11.4761 7.75699C11.2349 8.31293 11.1126 8.91317 11.1171 9.51917V9.51999C11.1125 10.2536 11.2941 10.9764 11.6448 11.6208C11.9956 12.2651 12.5041 12.8099 13.1227 13.2043C12.9073 13.7248 12.6397 14.2222 12.324 14.6889V14.6889Z"
              fill="currentColor"></path>
          </svg>
          <span>App store</span>
        </a>
        <a href="#" class="button-secondary">
          <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M15.2873 7.89669C15.0299 7.75759 12.8229 6.47688 11.9947 5.99483L11.9923 5.99319L1.96105 0.201309C1.79015 0.0969776 1.59852 0.0312499 1.39957 0.00872446C1.20062 -0.013801 0.999145 0.00741986 0.809251 0.0709024C0.787821 0.0785975 0.767685 0.0863416 0.746853 0.0958786C0.698483 0.111645 0.651203 0.130575 0.605316 0.152544C0.413518 0.267195 0.256166 0.43143 0.149818 0.627965C0.0434703 0.824501 -0.00794069 1.04607 0.000994438 1.26936V16.8112C-0.00509304 17.0193 0.0441708 17.2252 0.143749 17.4079C0.243327 17.5906 0.389646 17.7437 0.567745 17.8513C0.608822 17.8714 0.651143 17.8888 0.694449 17.9035C0.718129 17.9144 0.740705 17.9239 0.765139 17.9325C0.882364 17.9751 1.00582 17.9979 1.1305 18C1.36992 17.9974 1.60448 17.9321 1.81077 17.8105C2.12892 17.6259 11.9923 11.9307 11.9923 11.9307L15.2833 10.0304C15.4868 9.92846 15.6585 9.77285 15.78 9.58037C15.9014 9.3879 15.968 9.1659 15.9724 8.93835C15.9624 8.71917 15.8935 8.50674 15.7729 8.32343C15.6523 8.14011 15.4846 7.9927 15.2873 7.89669ZM1.6381 15.4166V2.53377L8.13752 8.96739L1.6381 15.4166ZM5.74561 13.647L9.301 10.1191L10.242 11.0505C9.20678 11.6483 7.45781 12.6583 5.74561 13.647V13.647ZM9.2996 7.81427L5.69971 4.25081L10.2457 6.87556L9.2996 7.81427ZM11.7117 10.2019L10.4631 8.966L11.7136 7.72512C12.3032 8.06753 13.2221 8.6005 13.8549 8.96475L11.7117 10.2019Z"
              fill="currentColor"></path>
          </svg>
          <span>Play store</span>
        </a>
      </div>

    </div>

    <div class="h-[500px] lg:h-[700px]" data-animate="fade-right">
      <img src="./assets/images/dashboard-2.webp" class="h-full w-full object-contain lg:object-right" alt="" />
    </div>

  </div>
</section>

{{> partials/footer }}